.movieFilters
  display: flex
  align-items: center
  justify-content: center
  margin: 20px auto

.movieSearch
  border: 1px solid navy
  color: navy
  width: 400px
  margin-right: 50px
  padding: 10px

.sort
  border: 1px solid navy
  color: navy
  padding: 10px

.movieListContainer
  border: 5px solid navy
  margin: 0 auto 40px auto
  max-width: 90%

.movieListLabels
  display: flex
  align-items: center
  justify-content: center
  margin: 0 auto
  max-width: 90%

.titleLabel
  font-size: 25px
  font-weight: bolder
  width: 600px
  text-align: center

.yearLabel, .ratingLabel
  width: 150px
  font-size: 25px
  font-weight: bolder
  text-align: center
